@import "tailwindcss";

@theme {
  --color-blue-400: #60a5fa;
  --color-blue-500: #3b82f6;
  --color-blue-600: #2563eb;
  --color-cyan-400: #22d3ee;
  --color-cyan-500: #06b6d4;
  --color-gray-800: #1f2937;
  --color-gray-900: #111827;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--color-gray-900);
  color: white;
}

#root {
  width: 100%;
}